body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*
#plot_all_lake_sonoma_runs > div.js-plotly-plot > div > div > svg:nth-child(1) > g.draglayer.cursor-crosshair > g > rect.nsewdrag.drag.cursor-ew-resize
*/

.js-plotly-plot .plotly g.draglayer.cursor-crosshair rect.nsewdrag.drag.cursor-ew-resize {
    cursor: crosshair;
}
.rect.nsewdrag.drag.cursor-ew-resize {
    cursor: crosshair;
}
.js-plotly-plot .plotly .cursor-ew-resize {
    cursor: crosshair;
}

.content {
  @media (min-width: 1150px) {
    /* on large screen, no need for sidebar hiding, so this margin-left provides space for sidebar
       to be shown without need for user to press toggle button
     */
    margin-left: 270px !important;
  }
  padding-top: 10px;
}
#sidebar {
  width: 270px;
  background: #1d1a1a;
  color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: fixed;
  height: 100vh;
  z-index: 9;
}
#sidebar.active {
  margin-left: -270px;
}

#sidebar.active .custom-menu {
  margin-right: -50px;
}

@media(max-width: 1150px) {
  #sidebar {
      margin-left:-270px;
  }

  #sidebar.active {
      margin-left: 0;
  }

  #sidebar .custom-menu {
      margin-right: -60px!important;
      bottom: 10px!important;
  }
}
@media(min-width: 1150px) {
  #sidebar .custom-menu {
      display: none !important;
  }
}

#sidebar .nav-item a.nav-link> {
  padding: 10px 0;
  display: block;
  color: rgba(255,255,255,.6);
  border-bottom: 1px solid rgba(255,255,255,.1);
}

#sidebar .nav-item a.nav-link:hover:not(.active) {
  background-color: #fff;
  color: #1d1a1a !important;
}
#sidebar .nav-item a.nav-link.active {
  background-color: #0076BA;
  color: #fff;
}

#sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

@media(prefers-reduced-motion:reduce) {
  #sidebar .custom-menu {
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
  }
}

#sidebar .custom-menu .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#sidebar .custom-menu .btn.btn-primary {
  background: #0bc675;
  border-color: #0bc675;
}
@media only screen and (max-width: 575px) {   /*and (max-width: 575px)  */
  #sidebar .custom-menu .btn.btn-primary {
    position:fixed;
    bottom:0;
    /*
    font-size:14px;
    width:100%;
    font-weight:normal;
    border:1px solid #d97b6c;
    */
  }
}

#sidebar .custom-menu .btn.btn-primary:hover {
  background: #0076BA!important;
  border-color: #0076BA!important;
}


/* Custom CSS for the Banner */

.banner-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: black;
  overflow: hidden;
  aspect-ratio: 6/1;
  @media (max-width: 768px) {
    aspect-ratio: 5/1;
  }
}
.banner-image {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
}
.overlay-text {
  position: absolute;
  color: white;
  @media (max-width: 768px) {
    transform: translate(5%, -10%);
    /* display: none !important;  */
  }
  @media (min-width: 768px) {
    transform: translate(5%, -10%);
    /*
    width: 80%;
    */
  }
  @media (min-width: 992px) {
    transform: translate(10%, -20%);
    /*
    transform: translate(10%, -10%);
    width: 50%;
    */
  }
  @media (min-width: 1200px) {
    transform: translate(10%, -20%);
    /*
    transform: translate(10%, -13%);
    width: 45%;
    */
  }
  @media (min-width: 1400px) {
    transform: translate(10%, -20%);
    /*
    transform: translate(60px, -50px);
    width: 34%;
    */
  }
  text-align: justify;
  font-weight: bold;
}
.alt-text {
  position: absolute;
  color: white;
  right: 20px;
  text-align: right;
}
.ref {
  color: gray;
  font-size: small;
  right: 0;
}


.rc-slider-track {
  background-color: #636EFA;
  height: 10px;
  transform: translate(0%, -25%);
}

.rc-slider-dot-active {
  border-color: #636EFA;
  border: solid 2px white;


}

.rc-slider-handle {
  background-color: #636EFA;
  border-color: white;
  height:15px;
  width:15px;

}

.rc-slider-handle:hover {
  border-color: white;
}

.rc-slider-handle-active:active {
  border-color: #636EFA;

}

/*

*/



._dash-loading {
  margin: auto;
  color: black;
  width: 0;
  height: 0;
  text-align: center;
}

._dash-loading::after {
  content: '';
  display: inline-block;
  width: 5rem;
  height: 5rem;
  color: black;
  vertical-align: text-bottom;
  tex-align: center;
  border: 1em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
  margin-top: 2rem;
}